h1
{
    margin-left: 35%;
}
.titre, h1
{
    margin-right: 12%;
}
form
{
    margin-top: 4%;
    margin-left: 40%;
}

.description
{
    height: 80px;
}
input
{
    height: 30px;
}
a
{
    color: #FFFF;
    text-decoration: none;
}
button
{
    background-color: #3D69E1;
    color: aliceblue;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 43%;
    border-radius: 5px;
}


td,th
{
    border: 1px solid black;
}



td,th
{
    width: 38%;
    height: 30px;
    margin-left: 5%;
}

table{
    width: 38%;
    height: 10%;
    margin-left: 34%;
    border-collapse: collapse
  }
